<div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]
            [autoLoad]="false">
            <advanced-search>
                <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                    [(filter)]="filter.value" [form]="searchConfiguration"></app-advanced-search-form>
            </advanced-search>
        </app-advanced-table-search>
    </div>
</div>
<div class="row">
    <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
            <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
            <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
        </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
        <!-- add action button here -->
    </div>
    <div class="col-12 mb-4">
        <app-advanced-table #table [height]="600" (load)="onDataLoad($event)" [autoLoad]="true"></app-advanced-table>
    </div>
</div>
<router-modal></router-modal>