
  .modal-dialog-100 {
    position: absolute;
    margin-top: 0rem;
    max-width: 100%;
    width: 100%;
  }
  .modal-dialog.modal-dialog-100 .modal-header button.close {
      top: -2rem;
      color: #3e515b;
      right: -1.5rem;
    }
  .modal-dialog-100 .modal-content {
        border-radius: 0px;
      }