div.radio-wrapper > div.field-wrapper {
    display: flex;
}

div.radio-wrapper > div.field-wrapper > div.field-label > label.col-form-label {
    padding-top: 0px;
}

.radio{
    position: static !important;
    display: inline !important;
}

div.dining-panel-wrapper > div.card > div.card-header{
    border-bottom: 1px solid #c2cfd6;
}

.dining-panel-wrapper {
    // width: 85%;
}

.dining-form-field {
   width: 30%;
}

.formio-component-noOfChildren.formio-hidden {
    margin-bottom: 0;
}

.formio-component.has-error,
.formio-error-wrapper,
.formio-warning-wrapper {
 padding:1em
}

.formio-component.has-error,
.formio-error-wrapper {
 background-color:#f8d7da;
 border-color:#f5c6cb;
 color:#721c24
}

// // .formio-component-button, .formio-component-checkbox {
// //     width: 85%;

// // }

.formio-component-button {
//     margin-top: 2rem;
    text-align: right !important;
}

.formio-warning-wrapper {
 background-color:#fff3cd;
 border-color:#ffeeba;
 color:#856404
}
.formio-disabled-input .form-control.flatpickr-input {
 background-color:#eee
}
.builder-component.has-error .invalid-feedback,
.formio-component.alert-danger .invalid-feedback,
.formio-component.has-error .invalid-feedback,
.formio-component.has-message .invalid-feedback {
 color:inherit;
 display:block;
 margin-top:4px
}
.formio-errors .error {
    color:#dc3545;
    margin-top: 1.5rem;
}
.formio-errors .warning {
 color:#856404
}
.formio-errors .info {
 color:#004085
}
.formio-wysiwyg-editor {
 background-color:#fff;
 min-height:200px
}
.has-feedback .form-control {
 padding-right:10px
}
.has-feedback .form-control[type=hidden] {
 padding-right:0
}
.has-error.bg-danger {
 padding:4px
}

.formio-component-studentGuardianReceivesUnemploymentBenefit .text-muted,
.formio-component-foreignScholarStudent .text-muted,
.formio-component-studentSpouseReceivesUnemploymentBenefit .text-muted,
.formio-component-studentReceivesUnemploymentBenefit .text-muted {
  color: #ff0000 !important;
}

.correct-height{
    margin-top: 30px;
    padding-bottom: 10px;
}

.formio-component-solemnDeclaration .card-header
{
   display: none; 
}

.move-up{
    margin-top: -16px;
}

.move-down{
    margin-top: 32px;
}

.active-request{
    background: rgba(255, 193, 7, 0.1);
    border-radius: 5px;
}

.potential-request {
    background: rgba(115, 129, 142, 0.1);
    border-radius: 5px;
}

.completed-request {
    background: rgba(77, 189, 116, 0.1);
    border-radius: 5px;
}

.cancelled-failed-request {
    background-color: rgba(248, 108, 107, 0.1);
    border-radius: 5px;
}

.active-request-color{
    color: rgba(255, 193, 7, 0.4);
    border-radius: 5px;
}

.potential-request-color {
    color: rgba(115, 129, 142, 0.4);
    border-radius: 5px;
}

.completed-request-color {
    color: rgba(77, 189, 116, 0.4);
    border-radius: 5px;
}

.cancelled-failed-request-color {
    color: rgba(248, 108, 107, 0.4);
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .inline-display{
      display:inline;
    }
    .centered-div{
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) 
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .add-top{
     margin-top: 0.2rem;
    }
  }

  .centered{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }

.noClick {
    pointer-events: none;
}
